#[link(name = "terminfo", vers = "0.0.1", author = "cmr")];

#[crate_type = "lib"];

use core::hashmap::HashMap;

pub struct TermInfo {
    names: ~[~str],
    bools: HashMap<~str, bool>,
    numbers: HashMap<~str, i16>,
    strings: HashMap<~str, ~str>
}

pub mod searcher;
pub mod parser {
    pub mod compiled;
}
