#[link(name = "terminfo", vers = "0.0.1", author = "cmr")];

#[crate_type = "lib"];

use core::hashmap::HashMap;

struct TermInfo {
    names: ~[&str],
    bools: HashMap<&str, bool>,
    numbers: HashMap<&str, [u8, ..2]>,
    strings: HashMap<&str, &str>
}

pub mod searcher;
pub mod parser;
