#[link(name = "terminfo", vers = "0.0.1", author = "cmr")];

#[crate_type = "lib"];

use std::hashmap::HashMap;

pub struct TermInfo {
    names: ~[~str],
    bools: HashMap<~str, bool>,
    numbers: HashMap<~str, u16>,
    strings: HashMap<~str, ~[u8]>
}

pub mod searcher;
pub mod parser {
    pub mod compiled;
}
